.row {
    display: flex;
    flex-direction: row;
}
.row > div {
    flex: 1;
    border: 2px solid rgb(96 139 168);
    border-radius: 5px;
    background-color: rgb(96 139 168 / 0.2);
    margin-bottom: 5px;
}

.central_text {
    text-align: center;
    margin: auto
}

.negotiation-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.selected-worker {
    border-width: 4px;
    border-color: coral;
}

.workers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.workers-grid > div {
    text-align: center;
    margin: 5%;
    padding: 5%;
}

.buildings-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.buildings-grid > div {
    text-align: center;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    padding: 5%;
    margin: 5%;
}

.button {
    border: 2px solid rgb(96 139 168);
    border-radius: 10px;
    background-color: rgb(151, 209, 247);
}

.button:hover {
    background-color: rgb(8, 151, 208);
}

.button:active {
    background-color: rgb(221, 247, 151);
}