{{define "FORUM"}}

<div class="page-content pl-8 pt-8">
    <div class="message control">
        {{template "NEW_THREAD"}}
    </div>

    <div class="thread p-2">
        {{range .Threads}}
        {{template "MAINPOST" (index $.DB.Posts .MainPost.PostId)}}
        {{range .Posts}}
        {{template "POST" (index $.DB.Posts .PostId)}}
        {{end}}
        {{end}}
    </div>
</div>

<div class="footer">

    <div>
        Threads: {{printf "%d" .ThreadsCount}}
    </div>

    <div>
        Posts: {{printf "%d" .PostsCount}}
    </div>

    <div>
        Last post: {{printf "%s" .LastPostTime}}
    </div>

    <div>
        Last update time: {{printf "%s" .CurrentTime}}
    </div>

</div>

{{end}}