{{define "FORUM"}}

<div class="page-content pl-8 pt-8">
    <div class="message control">
        {{template "NEW_THREAD"}}
    </div>

    <div class="thread p-2">
        {{range .Threads}}
        <div class="main-post max-w-fit mb-4 bg-zinc-200 rounded-2xl p-2 px-4">
            <div class="header flex gap-1">
                <div class="title">
                    <a href="/thread/{{.MainPost.PostId}}">
                        {{printf "%s" ((index $.DB.Posts .MainPost.PostId).Title) }}
                    </a>
                </div>
                <div class="date">{{(index $.DB.Posts .MainPost.PostId).Date.Format "Jan 02, 2006 15:04:05 UTC"}}</div>
            </div>

            <div class="content">
                {{printf "%s" ((index $.DB.Posts .MainPost.PostId).Content) }}
            </div>
        </div>

        {{range .Posts}}
        {{template "POST" (index $.DB.Posts .PostId)}}
        {{end}}
        {{end}}
    </div>
</div>

<div class="footer">

    <div>
        Threads: {{printf "%d" .ThreadsCount}}
    </div>

    <div>
        Posts: {{printf "%d" .PostsCount}}
    </div>

    <div>
        Last post: {{printf "%s" .LastPostTime}}
    </div>

    <div>
        Last update time: {{printf "%s" .CurrentTime}}
    </div>

</div>

{{end}}