<div id="game"></div>



<div id="character-frame">
    <div class="row">
        <div>
            Supply
            <div id="player-supply"></div>
        </div>
        <div>
            Demand
            <div id="player-demand"></div>
        </div>
    </div>
    <div id="self-contract" class="button">
        Connect supply and demand
    </div>
</div>

<div id="lords-frame" class="buildings-grid">
</div>

<div class="row">
    <div class="central_text">
        <div>
            Negotiation
        </div>
        <div id="negotiation">
        </div>
    </div>
    <div id="inventory-frame">

    </div>
</div>

<div id="control-frame" class="buildings-grid">
</div>

<div class="row">
<div id="property-frame" class="workers-grid">
</div>
<div id="workers-frame" class="workers-grid">
</div>

</div>

<div id="gacha-button" class="button">Summon 10 characters for 500 magic crystals</div>
Gacha history:
<div id = "gacha-history">
</div>

<script src="../js/game.js" defer></script>
