{{define "POST"}}

<div class="post max-w-fit mb-2 ml-2 p-2 bg-zinc-100 rounded-2xl px-4">
  <div id="post-{{.Id.PostId}}">
    <div class="header flex gap-1">

      {{ if .Title }}
        <div class="title font-bold">{{ .Title }}</div>
      {{ end }}

      <div class="date">{{.Date.Format "Jan 02, 2006 15:04:05 UTC"}}</div>
      <a href="/forum/thread/{{.Thread.PostId}}#post-{{.Id.PostId}}">
          #{{.Id.PostId}}
      </a>
      <button id="reply-button-{{.Id.PostId}}" class="reply-button"> Reply </button>
    </div>

    <div class="content max-w-prose">
      {{range .Content}}
        {{printf "%s" .Text}}
        {{if lt .LinkTo.PostId 4294967295}}
          {{template "POSTREPLYLINK" .}}
        {{end}}
      {{end}}
    </div>

    <div class="replies text-sm">
      {{range .Replies}}
        {{template "POSTREPLYLINK" .}}
      {{end}}
    </div>
  </div>
</div>

{{end}}