{{define "POST"}}

<div class="post max-w-fit mb-4 ml-4 p-2 bg-zinc-100 rounded-2xl">
  <div id="post-{{.Id.PostId}}">
    <div class="header flex gap-1">
      <a href="/thread/{{.Thread.PostId}}#post-{{.Id.PostId}}">
          #{{.Id.PostId}}
      </a>
      <div class="title ">{{printf "%s" .Title}}</div>
      <div class="date">{{.Date.Format "Jan 02, 2006 15:04:05 UTC"}}</div>
    </div>

    <div class="content">
      {{range .Content}}
        {{printf "%s" .Text}}
        {{if lt .LinkTo.PostId 4294967295}}
          {{template "POSTREPLYLINK" .}}
        {{end}}
      {{end}}
    </div>

    <div class="replies">
      Replies:
      {{range .Replies}}
        {{.LinkTo.PostId}}
        {{template "POSTREPLYLINK" .}}
      {{end}}
    </div>
  </div>
</div>

{{end}}