{{define "THREAD"}}
<div class="pl-8 pt-8">
  <div class="header flex gap-2 mb-4">

  <div class="bg-black rounded-full text-white font-semibold py-2 px-4 hover:bg-green-400 hover:cursor-pointer">Status</div>
  <a href="/forum" class="bg-black rounded-full text-white font-semibold py-2 px-4 hover:bg-green-400 hover:cursor-pointer">Back to forum</a>

  </div>
  {{template "MAINPOST" .MainPost}}
  <div class="thread p-2 mb-4">
    {{range .Thread}} {{template "POST" .}} {{end}}
  </div>
  <div class="message control">{{template "NEW_POST" .MainPost.Id}}</div>
</div>

<script src="../js/main.js" defer></script>
{{end}}
